DATABASE_URL=DATABASE_URL
MINIO_ENDPOINT=MINIO_ENDPOINT
MINIO_ACCESS_KEY=MINIO_ACCESS_KEY
MINIO_SECRET_KEY=MINIO_SECRET_KEY
MINIO_BUCKET=MINIO_BUCKET
MINIO_SECURE=MINIO_SECURE
CELERY_BROKER_URL=CELERY_BROKER_URL
CELERY_RESULT_BACKEND=CELERY_RESULT_BACKEND
REDIS_CACHE_URL=REDIS_CACHE_URL
